<html>
	<head>
		<title>Ana Sayfa</title>
		<link href="bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
	
		<div class="container">
			<!-- navbar-->
			<div class="row">
			
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <a class="navbar-brand" href="#"><strong>Al Abi Ver Abi</strong></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
					  <ul class="nav navbar-nav">
						<li class="active"><a href="#">Genel <span class="sr-only">(current)</span></a></li>
						<li><a href="#">Teknoloji</a></li>
						<li><a href="#">Eğlence</a></li>
						<li><a href="#">Sağlık</a></li>
					  </ul>
					  
					  <ul class="nav navbar-nav navbar-right">
						<li><a href="#" style="font-weight: bold; margin-right:20px;">+ İlan Ekle</a></li>
						<li><a href="#" ><strong>Mesaj</strong>(0)</a></li>
						<li><a href="#" ><strong>Hesabım</strong> (Ahmet Çalışkan)</a></li>
					  </ul>
					</div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
			
			</div>
			<div class="row"> <!--Filtrele,Sırala-->
				<form class="form-inline">
				
				  <div class="form-group" style="margin-right:15px;">
				  	<div class="checkbox"><input type="checkbox"></div>
					<select class="form-control" placeholder="">
						<option value="0" selected >Kategori Seç</option>
						<option value="1">Eğlence</option>
						<option value="2">Teknoloji</option>
					</select>
				  </div>
				  
				  <div class="form-group" style="margin-right:15px;">
					  <div class="checkbox"><input type="checkbox"></div>
					  <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Kelime ile Ara">
				  </div>
				  
				  <div class="form-group" style="margin-right:15px;">
					  <div class="checkbox"><input type="checkbox"></div>
					  <input type="text" class="form-control" id="exampleInputEmail5" placeholder="En Az Fiyat">
				  </div>
				  
				  <div class="form-group" style="margin-right:15px;">
					  <div class="checkbox"><input type="checkbox"></div>
					  <input type="text" class="form-control" id="exampleInputEmail6" placeholder="En Fazla Fiyat">
				  </div>
				  
				  <div class="form-group" style="margin-right:15px;">
					<div class="checkbox"><input type="checkbox"></div>
					<select class="form-control" placeholder="">
						<option value="0" selected >Yayın Tarihi Seç</option>
						<option value="1">Bugün</option>
						<option value="2">Bu Hafta</option>
						<option value="3">Bu Ay</option>
						<option value="4">Bu Yıl</option>
					</select>
				  </div>
				  
				  <div class="form-group" style="margin-right:15px;">
					<div class="checkbox"><input type="checkbox"></div>
					<select class="form-control" placeholder="">
						<option value="0" selected >Sıralama Seç</option>
						<option value="1">Son Yayınlanan</option>
						<option value="2">Önce Düşük Fiyat</option>
						<option value="3">Önce Yüksek Fiyat</option>
					</select>
				  </div>

				  <button type="submit" class="btn btn-default">UYGULA</button>
				</form>
			</div>
			<div class="row">
			
			  <div class="col-sm-6 col-md-3">
				<div class="thumbnail" style="background-color:#66efaa">
					<a href="">
					  <img src="mail.jpg" alt="ilan başlık">
					  <div class="caption">
						<h3>İlan Başlık</h3>
						<h4>Fiyat</h4>
					  </div>
					</a>
				</div>
			  </div>
			  <div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<a href="">
					  <img src="mail.jpg" alt="ilan başlık">
					  <div class="caption">
						<h3>İlan Başlık</h3>
						<h4>Fiyat</h4>
					  </div>
					</a>
				</div>
			  </div>
			  <div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<a href="">
					  <img src="mail.jpg" alt="ilan başlık">
					  <div class="caption">
						<h3>İlan Başlık</h3>
						<h4>Fiyat</h4>
					  </div>
					</a>
				</div>
			  </div>
			  <div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<a href="">
					  <img src="mail.jpg" alt="ilan başlık">
					  <div class="caption">
						<h3>İlan Başlık</h3>
						<h4>Fiyat</h4>
					  </div>
					</a>
				</div>
			  </div>
			  
			</div>
			
		</div>

	</body>
</html>