
@{
    ViewBag.Title = "OnayIstek";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    <div class="card card-container text-center">
        <h2><strong>Al Abi Ver Abi</strong></h2>
        <br />
        <h3 style="color:green;">Mailinize Onay Linki Gönderilmiştir.</h3>
    </div>
</div>

