
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    <div class="card card-container text-center">
        <h2><strong>Al Abi Ver Abi</strong></h2>
        <br />
        @using (Html.BeginForm("SifreResetIstek", "Login", FormMethod.Post, new { @class = "form - signin" }))
        {
            @Html.TextBox("mail","", new { @class = "form-control", placeholder = "E-mail", type = "email", required = "", autofocus = "" })
            <br />
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Şifre Değiştir</button>
        }
    </div>
    <br />
    @if (TempData["Mesaj"] != null && TempData["MesajTip"] != null)
    {
        <div class="alert alert-@TempData["MesajTip"]">
            @TempData["Mesaj"]
        </div>
    }
</div>